# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Virtual Env
venv/
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# Trae/VSCode
.trae/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
